<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @question.body %>
</p>

<p>
  <strong>State:</strong>
  <%= @question.state %>
</p>

<%= link_to "結果表示", controller: 'question_masters', action: 'close_questions', id: @question.id %> 
