<div class="wrapper" style="margin-top: 50px">
    <div class="txt">
	<h1>New Number Of Participant</h1>

	<%= render 'form', number_of_participant: @number_of_participant %>

	<%= link_to 'Back', number_of_participants_path %>
    </div>
</div>
