<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @number_of_participant.number %>
</p>

<%= link_to 'Edit', edit_number_of_participant_path(@number_of_participant) %> |
<%= link_to 'Back', number_of_participants_path %>
