<%= image_tag 'logo.png' %>

<div class="center">
  <% %w(YES NO).each do |answer| %>
    <% params  = { cookie_key: @cookie, yes: (answer == 'YES') } %>
    <% message = "#{answer}の回答を送信します。リロードされれば回答完了です。\n「回答が完了しました」などのメッセージは表示されません。" %>
    <%= button_to answer, { action: 'create' }, data: { confirm: message }, params: params, class: 'button' %>
  <% end %>
</div>
