<div id="answers" class="feature-center">
  <%= image_tag 'logo-color.png' %>

  <div class="text">アンケートに回答してください</div>

  <% %w(YES NO).each do |answer| %>
    <% params  = { cookie_key: @cookie, yes: (answer == 'YES') } %>
    <% message = "#{answer}の回答を送信します。リロードされれば回答完了です。\n「回答が完了しました」などのメッセージは表示されません。" %>
    <%= button_to answer, { action: 'create' }, data: { confirm: message }, params: params, class: "button #{answer.downcase}" %>
  <% end %>
</div>
