<%= render partial: "shared/header", locals: {menu: "Homes"} %>
<div class="container">
    <div class="row_home">
	<div id="fh5co-section">
	    <div class="col-nineth">
		<div class="row_home">
		    <div class="col-third">
			<div class="col-md-12">
			    <!-- <span class="icon">
				 <i class="icon-eye"></i>
				 </span> -->
			    <div class="desc">
				<h3><strong>Questions</strong></h3>
				<p>アンケート内容を管理することができます。アンケートの作成、アンケート公開・非公開の選択等を行うことができます。</p>
				<p><a href="/questions" class="btn btn-default">Learn More</a></p>
			    </div>
			</div>
		    </div>
		    <div class="col-third">
			<div class="col-md-12">
			    <!-- <span class="icon">
				 <i class="icon-power"></i>
				 </span> -->
			    <div class="desc">
				<h3><strong>Number Of Participants</strong></h3>
				<p>アンケート対象人数を管理することができます。人数を指定するとそのままアンケートに反映されます。</p>
				<p><a href="/number_of_participants" class="btn btn-default" >Learn More</a></p>
			    </div>
			</div>
		    </div>
		    <div class="col-third">
			<div class="col-md-12">
			    <!-- <span class="icon">
				 <i class="icon-laptop"></i>
				 </span> -->
			    <div class="desc">
				<h3><strong>Start</strong></h3>
				<p>Qestionsで編集した内容でアンケートを実施し、集計結果を発表することができます。</p>
				<p><a href="/start" class="btn btn-default">Learn More</a></p>
			    </div>
			</div>
		    </div>
		</div>
	    </div>
	    <div class="col-forth">
		<div class="col-md-12">
		    <!-- <span class="icon">
			 <i class="icon-laptop"></i>
			 </span> -->
		    <div class="desc">
			<center>
			    <h3>yes-no-makura</h3>
			    <p>３つの機能を使うだけで、その場でアンケートを実施することができます。それが、このyes-no-makuraです。</p>
			    <p><a href="/home.html" class="btn btn-default">HOME</a></p>
			</center>
		    </div>
		</div>
	    </div>
	</div>
    </div>
</div>

<%= render 'shared/footer' %>
