// Place all the styles related to the Answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#answers {
  img {
    max-width: 100%;
  }

  .button {
    width:            88%;
    margin-top:       5vh;
    border:           1px solid transparent;
    border-radius:    4px;
    background-color: #15a28e;
    color:            white;
    font-size:        18vh;
    font-weight:      bold;
  }
}
