/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.fh5co-cover .display-t,
.fh5co-cover .display-tc {
  height: 720px;

  #question {
    margin:    0 -8vw;
    font-size: 6vw;
  }

  #yes-count {
    line-height: initial;
    font-size:   30vw;
    font-weight: bold;
  }

  #answers-count {
    font-size:   16vw;
    font-weight: bold;
  }
}

#fh5co-services-section {
  padding-top: 2em;
}

#answers {
  img {
    max-width: 100%;
  }

  .button {
    width:            88%;
    margin-top:       5vh;
    padding:          0;
    border:           1px solid transparent;
    border-radius:    4px;
    background-color: #15a28e;
    color:            white;
    font-size:        18vh;
    font-weight:      bold;
  }
}
