/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree ../../../vendor/assets/stylesheets
 *= require_tree .
 *= require_self
 */

#fh5co-logo img {
  width: 10em;
}

/* アプリのロゴのサイズを画面の幅に合わせる */
#logo-app img {
  max-width: 70%;
  height: auto;
  position: relative;
  right: 20px;
}

/* 質問登録画面の文字色 */
h1#new-question {
  color: #005B98;
}

.form-control:active, .form-control:focus {
  border-color: #005B98;
}

.fh5co-loader {
  background-image: image-url('loader.gif');
}

.fh5co-cover .display-t,
.fh5co-cover .display-tc {
  margin-top: -10%;

  #question {
    margin:    0 -8vw;
    font-size: 6vw;
  }

  #yes-count {
    line-height: initial;
    font-size:   30vw;
    font-weight: bold;
  }

  #answers-count {
    font-size:   16vw;
    font-weight: bold;
  }
}

#fh5co-services-section {
  padding-top: 2em;
}

#answers {
  img {
    max-width:     80%;
    margin-top:    5vh;
    margin-bottom: 2vh;
  }

  .text {
    font-size: 5vw;
  }

  .button {
    width:            88%;
    margin-top:       3vh;
    margin-bottom:    2vh;
    padding:          0;
    border:           1px solid transparent;
    border-radius:    4px;
    color:            white;
    font-size:        18vh;
    font-weight:      bold;
  }

  .yes {
    background-color: #C92E36;
  }

  .no {
    background-color: #005B98;
  }
}

.btn-primary {
  background: #EE9D19 !important;
  background-color: #EE9D19;
  border: none;
}

.btn-primary:hover {
  background: #d72500 !important;
  background-color: #d72500;
  border: none;
}

/* 画面の背景色 */
.fh5co-cover .overlay {
  background: #005B98;
}

/* フォントと文字色 */
body {
  font-family: "hiragino kaku gothic pro","メイリオ", Arial, sans-serif;
}

h1 {
  font-weight: 600;
}

a {
  color: #005B98;
  font-weight: 400;
}

a:hover, a:active, a:focus {
  color: #d72500;
}

/* ボタンの色差し替え */
#fh5co-header .display-tc .btn,
#fh5co-counter .display-tc .btn,
.fh5co-cover .display-tc .btn {
  background: #EE9D19 !important;
  background-color: #EE9D19;
}

#fh5co-header .display-tc .btn:hover,
#fh5co-counter .display-tc .btn:hover,
.fh5co-cover .display-tc .btn:hover {
  background: #EE9D19 !important;
  background-color: #EE9D19;
}

.btn-outline {
  border-color: #EE9D19;
}

.btn-outline:hover {
  border-color: #EE9D19;
  background: #F6F7F8;
}
