span.normal {font-weight: normal; }
span.bold {font-weight: bold; }
span.lighter {font-weight: lighter; }
span.bolder {font-weight: bolder; }
span.100 {font-weight: 100; }
span.200 {font-weight: 200; }
span.300 {font-weight: 300; }
span.400 {font-weight: 400; }
span.500 {font-weight: 500; }
span.600 {font-weight: 600; }
span.700 {font-weight: 700; }
span.800 {font-weight: 800; }
span.900 {font-weight: 900; }
